.signup_page{
    width: 100vw;
    height: 89vh;
    display: flex;
}

.welcome_to_signup{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edf1f4;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.signup_form_div{
    width: 60%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.welcome_to_signup_innerdiv{
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sinup_form_inner_div{
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.welcome_to_signup_innerdiv h2{
    font-family: "Poppins";
    font-size: 36px;
    font-weight: bold;
    color: #18355e;
}

.welcome_to_signup_innerdiv p{
    font-family: "Poppins";
    font-size: 15px;
    text-align: center;
    width: 300px;
    margin-top: 1.5rem;
}

.welcome_to_signup_innerdiv button{
    font-family: "Poppins";
    font-size: 14px;
    text-align: center;
    padding: .8rem 3.5rem;
    margin-top: 2rem;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #18355e;
    outline: none;
    background: #18355e;
    color: #fff;
}

.signup_form_div h2{
    font-family: "Poppins";
    font-size: 30px;
}

.firstName{
    margin-top: 2rem;
}

.signup_inputs{
    display: flex;
    flex-direction: column;
}

.signup_inputs input{
    margin-top: 1rem;
    width: 400px;
    height: 40px;
    padding-left: 1rem;
    border: none;
    outline: none;
    border-radius: 2px;
    background: rgb(223, 235, 235);
    font-family: "Poppins";
}

.signup_inputs button{
    font-family: "Poppins";
    font-size: 14px;
    text-align: center;
    padding: .8rem 3.5rem;
    margin-top: 2rem;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid #18355e;
    outline: none;
    background: #18355e;
    color: #fff;
}